# Go build artifacts
*.exe
*.out
*.test
*.log
*.tmp

# Binaries and build folders
bin/
build/
dist/

# Dependency directories (if not using Go modules)
vendor/

# Enviroment files 
.env
.env.*

# IDE/editor folders
.vscode/
.idea/

# OS files 
.DS_Store
Thumbs.db